body {
    font-family: 'Poppins', sans-serif;
}



.banner {
    background-image: linear-gradient(20deg, #9ce2eabd, #c2e3e9ba), url(images/banner10.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    position: relative;
}


.banner-text {

    padding-top: 80px;
}

.text {
    text-align: center;
    margin-bottom: 40px;
    color: lightgray;
}

.select-area {
    border-radius: 20px;
    margin-left: 24.5%;
    height: 120px;
    width: 51%;
    background-color: white;
}

.select select {
    color: gray;
    font-size: 13px;
}

.single-select {
    width: 180px;
    height: 50px;
}

option {
    color: gray;
    font-size: 15px;
}

.select button {
    background-color: rgb(36, 93, 114);
    color: white;
}

.nav-link i {
    margin-right: 8px;
}

/*************************************************************************************
*****************************************second-section-------------------------------*/

.heading-2 {
    color: gray;
    text-align: center;
}

.all-category {
    width: 88%;
    margin-left: 6%;
}

.singe-icon {
    margin: 30px;
    text-align: center;
}

.singe-icon a {

    text-decoration: 0;
    color: rgb(149, 159, 12);
}

.singe-icon a img {

    height: 70px;
    width: 100px;
}

.singe-icon a h6 {
    margin-top: 10px;
}

/*******************************************************************************************************************
*************************************Why apartment is unique from other********************************************/
.section-3 {
    margin-top: 100px;
}

.section-3 h2 {
    color: gray;
    text-align: center;
}

.all-article {
    margin-left: 10%;
    width: 80%;
    margin-right: 10%;
}

.single-article {
    width: 25%;
    height: 380px;
    background-color: rgb(244, 255, 255);
    box-shadow: 0px 0px 5px gray;
    margin: 30px;
}

.single-article button {
    margin-top: 30px;
    margin-left: 85px;
}

.single-article p {
    margin-top: 30px;
}

.single-article button a {
    text-decoration: none;
    color: white;
}

/**************************************************************************************
***************************footer start************************************************/
footer {
    margin-top: 40px;
    height: 280px;
    color: aliceblue;
    background-color: #1e81b0;
}

.end {
    padding-top: 30px;
    width: 80%;
    margin-left: 10%;
}

.tata {
    width: 30%;
    margin-left: 70px;
    margin-right: 90px;
}

.tata h3 {
    margin-left: 20px;
}

.tata p {
    margin-left: 20px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.tata a {
    text-decoration: none;
    color: white;
}

.tata h5 {
    margin: 10px 20px;
}

.icon {
    margin-left: 20px;
}